coverage
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
dist
node_modules
.Trash-*
__snapshots__
docker-entrypoint.sh
Dockerfile.dev.docker
Dockerfile.dev.container
